*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    min-height: 1300px;
    background-image: url(/images/bg-top.jpg), url(/images/bg-bottom.jpg);
    background-repeat: no-repeat,no-repeat;
    background-position: top center, bottom center;
    background-color: #f2f2f2;
}
image{
    display: block;
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: white;
}
.menu{
    display: flex;
}
.menu-left{
    margin: auto;
    display: flex;
    margin-right: 100px;
}
.menu-right{
    margin: auto;
    display: flex;
    
}
.menu-left-item{
    margin-top: 25px;
    width: 120px;
    border-right: 2px solid #6F7179;
    text-align: center;
}
.menu-right-item{
    margin-top: 25px;
    width: 120px;
    border-left: 2px solid #6F7179;
    text-align: center;
}
.button{
    width: 988px;
    height: 264px;
    background-color: #112141;
    margin: auto;
    margin-top: 250px;
    display: flex;
}
.download{
    padding-top: 3px;
    padding-left: 2px;
    z-index: 1;
}
.download:hover{
    opacity: 0.8;
}

.dangky{
    width: 240px;
    height: 62px;
    position: relative;
    background-image: url(/images/buttons-left.png);
    background-position: 0px -2px;
    margin: 0px 3px 3px 3px;
}
.dangky:hover{
    background-position: -248px -2px;
}
.napthe{
    position: relative;
    width: 240px;
    height: 61px;
    background-image: url(/images/buttons-left.png);
    background-position: 0 -67px;
    margin: 4px 3px 3px 3px;
    padding-bottom: 20px;
}
.napthe:hover{
    background-position: -248px -67px;
}
.event-banner{
    width: 491px;
    height: 256px;
    position: relative;
    background-image: url(/images/slider-01.gif);
    margin-top: 3.5px ;
}
.sup{
    position: relative;
    top: -4px;
    left: 15px;
}
.hotline{
    position: relative;
    left: 15px;
}
.longden{
    position: relative;
    top: 490px;
    left: 220px;
    width: 50px;
    z-index: 2;
}
.container{
    margin: auto;
    width: 988px;
    display: flex;
}
.giftcode{
    width: 743px;
    height: 83px;
    display: flex;
    margin-top: 5px;
}
.giftcode a{
    background-image: url('./images/cuuamlenh-vip-giftcode.png');
    height: 100%;
    width: 33%;
}
.giftcode a:hover{
    opacity: 0.8;
}
.giftcode1{
    background-position: 0 0;
}
.giftcode2{
    background-position: -247px 0;
}   
.giftcode3{
    background-position: -496px 0;
}
.news-menu{
    background-image: url(./images/news-header-bg.png);
    width: 735px;
    height: 63px; 
    margin-top: 10px; 
}
.news-menu li{
    float:left;
    list-style: none;
    padding: 23px 20px;
}
.news-menu a{
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #c7a87a;
    font-weight: bold;
}
.news-menu a:hover{
    opacity: 0.7;
}
.news-content{
    width: 735px;
    height: 720px;
    border: 6px solid #1F3252;
}
.news-content-item{
    display: flex;
    width: 100%;
    height: 200px;
}
.logo img{
    width: 156px;
    height: 150px;
    border: 6px solid #B69B74;
}
.logo{
    padding: 13px;
}
.mieuta{
    margin-top: 13px;
    width: 70%;
}
.title{
    border-left: 5px solid #B70F0B;
    height: auto;
    text-align: justify;
    padding-left: 5px;
}
.title a{
    color: #B70F0B;
    font-size: 18px;
    font-weight: bolder;
}
.title a:hover{
    opacity: 0.7;
}
.date i{
    opacity: 0.6;
    font-size: small;
}
.descri{
    padding-top: 5px;
    opacity: 0.8;
}
.nutbam{
    width: 230px;   
    height: 50px;
    margin-top: 25px;
    margin-left: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nutbam .move-home,.more {
    background-color: #112141;
    border: 3px solid #6f7179;
    min-width: 93px;
    height: 44px;
}
.nutbam .move-home a {
    font-size: 14px;
    text-decoration: none;
    color:#6f7179;
    width: 100%;
    line-height: 40px;
    text-align: center;
    display: block;

}
.nutbam .more a {
    font-size: 14px;
    text-decoration: none;
    color:#6f7179;
    line-height: 40px;
    text-align: center;
    display: block;

}
.nutbam a:hover{
    color: rgba(255,255,255,0.6);
}
.item-right {
    width: 238px;
    height: 290px;
    background-color: #112141;
    padding: 5px 6px;
    margin-top: 5px;
}
.item-right a{
    background-image: url(./images/links-right.png);
    display: block;
    width: 226px;
    height: 52px;
    margin-bottom: 5px;
}
.item-right a:hover{
    transform: scale(1.01);

}

.item-right .item-1{   
    background-position:0 1px;
}
.item-right .item-2{

    background-position:0 -59px;
}
.item-right .item-3{
    background-position:0 -118px;
}
.item-right .item-4{
    background-position:0 -171px;
}
.item-right .item-5{
    background-position:0 -227px;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 40px 0 30px;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 20px;
}
.footer-inner{
    width: 100%;
    height: 200px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    position: relative;
}
.footer-logo {
    display: block;
    float: left;
    background: url(./images/gosu-logo.png) no-repeat;
    width: 135px;
    height: 36px;
    position: absolute;
}
.footer-link a{
    text-decoration: none;
    color:#000;
    padding: 0 5px;
}
.footer-link a:hover{
    color: #e3980d;
}

.rs{
    margin-top: 5px;
}